@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

html, body, #root {
	height: 100%;
}

body {
	background: #E5E6F0;
	-webkit-font-smoothing: antialiased;
	/* Fonte mais legível no Chrome */
}

/* Setado input e button pois por default eles não herdam automaticamente a fonte do corpo a aplicação */
body, input, textarea, button {
	font-family: Roboto, sans-serif;
}